
// styling for each added project
.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  height: auto;
  width: 60%;
  background-color:#2e2e2e;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;

  h1 {
    color: rgb(211, 211, 211);
    font-size: 25px;
    font-family: 'Marcellus', serif;
    letter-spacing: 1px;
    padding: 15px;
  }

  div {
    background-color: #353535;
    padding: 20px;
    margin: 10px;
  }

  li {
    color: rgb(211, 211, 211);
    font-family: 'Marcellus', serif;
    letter-spacing: 1px;
    list-style: none;
  }
}

// all styles related to the add-new modal
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);

  .form-container {
    height: auto;
    width: 600px;
    background-color: #2e2e2e;
    border-radius: 5px;

    .exit-modal {
      color: white;
      font-size: 30px;
      font-weight: bold;
      float: right;
      padding: 0 10px;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      border-radius: 0 0 5px 5px;
      padding: 0 30px 30px;
    }

    label {
      color: rgb(211, 211, 211);
      font-family: 'Marcellus', serif;
      letter-spacing: 1px;
    }

    input {
      width: 200px;
      border: none;
      height: 30px;
      border-radius: 5px;
      padding-left: 10px;
    }

    input[type="date"] {
      cursor: pointer;
    }

    .task-btn {
      width: 200px;
    }

    textarea {
      height: 130px;
      padding: 10px 10px;
    }

    button {
      color: white;
      padding: 10px;
      background-color: rgb(160, 85, 211);
      border: none;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.visibility {
  display: none;
}