@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
}

header {
  height: 150px;
  background-color: #121212;
}

section {
  display: flex;
  flex-grow: 1;
  background-color: #1d1d1d;
  overflow-y: hidden;
  overflow-x: hidden;
}
section aside {
  width: 250px;
  background-color: #2e2e2e;
}
section main {
  flex-grow: 1;
}
section .add-new-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  margin: auto;
  height: 150px;
  width: 60%;
}
section .add-new-header h1 {
  color: rgb(211, 211, 211);
  font-size: 25px;
  font-family: "Marcellus", serif;
  letter-spacing: 1px;
}
section .add-new-header div {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 20px;
}
section .add-new-header button {
  font-size: 25px;
  color: rgb(211, 211, 211);
  padding: 7px 15px;
  background-color: rgb(160, 85, 211);
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}
section .add-new-header button:hover {
  box-shadow: rgb(160, 85, 211) 1px 0 10px;
}
section .add-new-header p {
  color: rgb(211, 211, 211);
  align-items: center;
  font-family: "Marcellus", serif;
  letter-spacing: 1px;
  font-weight: bold;
}
section .add-new-header::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgb(141, 141, 141);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  height: auto;
  width: 60%;
  background-color: #2e2e2e;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.projects h1 {
  color: rgb(211, 211, 211);
  font-size: 25px;
  font-family: "Marcellus", serif;
  letter-spacing: 1px;
  padding: 15px;
}
.projects .description {
  color: rgb(211, 211, 211);
  font-family: "Marcellus", serif;
  letter-spacing: 1px;
  padding-left: 15px;
}
.projects .project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .project-info p {
  color: rgb(211, 211, 211);
  font-family: "Marcellus", serif;
  letter-spacing: 1px;
  padding: 15px;
}
.projects .project-todos {
  background-color: #353535;
  padding: 20px;
  margin: 10px;
}
.projects .project-note {
  color: rgb(211, 211, 211);
  background-color: #353535;
  padding: 20px;
  margin: 10px;
}
.projects li {
  color: rgb(211, 211, 211);
  font-family: "Marcellus", serif;
  letter-spacing: 1px;
  list-style: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.modal .form-container {
  height: auto;
  width: 600px;
  background-color: #2e2e2e;
  border-radius: 5px;
}
.modal .form-container .exit-modal {
  color: white;
  font-size: 30px;
  font-weight: bold;
  float: right;
  padding: 0 10px;
  cursor: pointer;
}
.modal .form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding: 0 30px 30px;
}
.modal .form-container label {
  color: rgb(211, 211, 211);
  font-family: "Marcellus", serif;
  letter-spacing: 1px;
}
.modal .form-container input {
  width: 200px;
  border: none;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}
.modal .form-container input[type=date] {
  cursor: pointer;
}
.modal .form-container .task-btn {
  width: 200px;
}
.modal .form-container textarea {
  height: 130px;
  padding: 10px 10px;
}
.modal .form-container button {
  color: white;
  padding: 10px;
  background-color: rgb(160, 85, 211);
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.visibility {
  display: none;
}

.task-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.task-container button {
  border-radius: 5px;
}

.task-list {
  color: rgb(211, 211, 211);
  font-family: "Marcellus", serif;
  letter-spacing: 1px;
  list-style: none;
  margin-left: 10px;
  cursor: pointer;
}

.checkbox {
  width: 300px;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */